html,
body {
    padding: 0;
    margin: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background: url("../images/contentBG3.png");
    margin-bottom: 289px; /* Margin bottom by footer height */
}

.container {
    /*min-width: 970px;*/
    /*width: 970px;*/
}

.requiredField {
    color: #a94442;
}

hr {
    border-color: black;
}

.note-editable {
    background-color: white;
}

.table-responsive {
    -webkit-overflow-scrolling: touch;
}

textarea {
    resize:vertical;
}

tfoot {
    border-top: 2px solid #ddd;
}

/*
##### Header */
#headerDIV {
    background-image: url('../images/bg_lang_white.png');
    background-color: #122140;
    background-position: -300px 0px;
    background-repeat: no-repeat;
    height: 90px;
}
#memberProfile{
	font-size: 14px;
	font-family: tahoma !important;
	line-height: 1.42857143;
}
#memberProfile a{
	color: #fff;
}
#mainMenuDIV >li >a{
	border-top: 5px solid transparent;
}
#mainMenuDIV >li >a.active ,
#mainMenuDIV >li >a:HOVER{
	border-top: 5px solid #122140;
}
/*
##### Header */
#memberProfile, #officerProfile{
    margin-top: 20px;
    margin-right: 10px;
    text-align: right;
    color: #fff;
}

#mainMenuDIV {
    margin-bottom: 20px;
    width: 100%;
    background: #eee;
    box-shadow: 0px 1px 3px #aaa;
}

select.multiselect {
    width: 100%;
}

@media (max-width: 376px) {
    #logoTable {
        margin-left: auto;
        margin-right: auto;
    }
}

#footer {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0px;
    color: #636363;
    background-color: #fff;
    font-family: THSarabunPSK;
}

footer a:link,
footer a:active,
footer a:visited {
    text-decoration: none; color: #fff;
}

#copyright {
    text-align: center;
}

@page {
    size: A4;
}

@media print {
    body {
        padding: 0px;
        margin: 0px;
    }

    html, body, .container  {
        width: 210mm;
        font-size: 0.85em;
    }
}

.pagination>.active>span{
    z-index: 0;
}