@font-face {
    font-family: 'THSarabunPSK';
    /*src: url('THSarabunPSK.eot');*/

    src: url("../fonts/THSarabunPSK/THSarabunPSK.eot"); /* this line made the difference */
    src: local("Hero"),
     url("../fonts/THSarabunPSK/THSarabunPSK.eot"),
     url("../fonts/THSarabunPSK/THSarabunPSK.woff") format("woff"),
     url("../fonts/THSarabunPSK/THSarabunPSK.ttf") format("truetype"),
     url("../fonts/THSarabunPSK/THSarabunPSK.svg#Hero") format("svg");


    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'THSarabunPSKBold';
    /*src: url('THSarabunPSK.eot');*/

    src: url("../fonts/THSarabunPSK/THSarabunPSKBold.eot"); /* this line made the difference */
    src: local("Hero"),
     url("../fonts/THSarabunPSK/THSarabunPSKBold.eot"),
     url("../fonts/THSarabunPSK/THSarabunPSKBold.woff") format("woff"),
     url("../fonts/THSarabunPSK/THSarabunPSKBold.ttf") format("truetype"),
     url("../fonts/THSarabunPSK/THSarabunPSKBold.svg#Hero") format("svg");


    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'THSarabunPSKBoldItalic';
    /*src: url('THSarabunPSK.eot');*/

    src: url("../fonts/THSarabunPSK/THSarabunPSKBoldItalic.eot"); /* this line made the difference */
    src: local("Hero"),
     url("../fonts/THSarabunPSK/THSarabunPSKBoldItalic.eot"),
     url("../fonts/THSarabunPSK/THSarabunPSKBoldItalic.woff") format("woff"),
     url("../fonts/THSarabunPSK/THSarabunPSKBoldItalic.ttf") format("truetype"),
     url("../fonts/THSarabunPSK/THSarabunPSKBoldItalic.svg#Hero") format("svg");


    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'THSarabunPSKItalic';
    /*src: url('THSarabunPSK.eot');*/

    src: url("../fonts/THSarabunPSK/THSarabunPSKBoldItalic.eot"); /* this line made the difference */
    src: local("Hero"),
     url("../fonts/THSarabunPSK/THSarabunPSKItalic.eot"),
     url("../fonts/THSarabunPSK/THSarabunPSKItalic.woff") format("woff"),
     url("../fonts/THSarabunPSK/THSarabunPSKItalic.ttf") format("truetype"),
     url("../fonts/THSarabunPSK/THSarabunPSKItalic.svg#Hero") format("svg");


    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Supermarket';

    src: url("../fonts/supermarket/supermarket.eot"); /* this line made the difference */
    src: local("Hero"),
     url("../fonts/supermarket/supermarket.eot"),
     url("../fonts/supermarket/supermarket.woff") format("woff"),
     url("../fonts/supermarket/supermarket.ttf") format("truetype"),
     url("../fonts/supermarket/supermarket.svg#Hero") format("svg");


    font-weight: normal;
    font-style: normal;
}