/*.table thead tr .th1 {
  text-align: center;
  width: 10%; }
.table thead tr .th2 {
  text-align: center;
  width: 61%; }
.table thead tr .th3 {
  text-align: center;
  width: 11%; }
.table thead tr .th4 {
  text-align: center;
  width: 19%; }
*/
/*# sourceMappingURL=reportEPDData.css.map */