#question {
	margin-bottom: 20px;
}

#moreAnswerFrame {
	background-color: rgba(255, 255, 255, 0.5);
	border: dashed thin black;
}

#moreAnswer {
	height: 426px;
	width: 100%;
}

#moreAnswer > div {
	vertical-align: middle;
}