table {
  padding-bottom: 10px;
  /*border-bottom: solid thin black;*/
    border-collapse: collapse;
}

table .text-muted a {
  color: #777;
}

@media (max-width: 767px){
    .panel .panel-default img{
        width: 100%;
    }
    .modal-header img{
        width: 100%;
    }
}
span.title{
    color: #000000;
    font-size: 20px;
    width: 100%;
    display: block;
    text-align: left;
}
.modal-footer{
    text-align: left;
}
.choice{
    list-style: none;
    padding: 0;
}
.choiceNam{
    float: left;
}
.choiceAnswer{
    float: left;
    width: 96%;
    padding-left: 2%;
}