li .fluidMedia {
        padding-top: 65px;
    margin-top: -25px;
}
.fluidMedia {
    position: relative;
/*    padding-bottom: 56.25%; */
    /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.fluidMedia iframe {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
}
.modal-footer .fluidMedia{
     padding-bottom: 2.25%;
}
h4 .fluidMedia html{
        font-weight: bold;
    font-size: 20px;
}
.note-toolbar .btn-group button{
    height: 29px;
}