.clock{
    font-size: 100px;;
}
.panel.panel-default.affix{
    position : fixed !important;
    top:0;
}
.select-custom{
    text-align: justify;
    width: 100%;
    overflow: auto;
    top: 0;
    white-space: initial;
}
.bootstrap-select.btn-group .dropdown-menu{
    width: 100%;
}