#exams {
  padding-bottom: 10px;
  border-bottom: solid thin black;
    border-collapse: collapse;
}

#exams .text-muted a {
  color: #777;
}

#exams .date {
	max-width: 35px;
}
#exams .location {
	max-width: 50px;
}

#exams .set {
	max-width: 10px;
}

#exams .command-button {
	max-width: 35px;
}